@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            Unvented Servicing Record
        </h1>
        <p class="description">
            The following is to be completed on any visit where an unvented water storage cylinder is
            serviced. Ask tenant if they are aware of any operational fault or problems.
        </p>
    </div>

    <div class="section section-twothird">
        <div class="section section-half">
            @{ await Html.RenderPartialAsync("Unvented_CustomerDetails"); }
        </div>

        <div class="section section-half">
            @{ await Html.RenderPartialAsync("Unvented_LandlordDetails"); }
        </div>

        @{ await Html.RenderPartialAsync("Unvented_ApplianceDetails"); }

        @{ await Html.RenderPartialAsync("Unvented_ExpansionVesselDetails"); }
    </div>

    <div class="section section-third">
        @{ await Html.RenderPartialAsync("Unvented_CompanyDetails"); }

        @{ await Html.RenderPartialAsync("Unvented_DischargePipework_Service"); }

        @{ await Html.RenderPartialAsync("Unvented_SystemChecks"); }
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("Unvented_ThermostatCylinderChecks"); }

        @{ await Html.RenderPartialAsync("Shared_SignOffSection"); }
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("Shared_DefectsSectionFull"); }
    </div>
</body>

</html>