@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header" style="border-top-right-radius: 0; margin-top: 0;">Appliance Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="3">
                Location
            </td>
            @foreach (var chimney in Model.Chimneys)
            {
                <td class="answer" colspan="2">
                    @chimney.ApplianceLocation
                </td>
            }
        </tr>
        <tr>
            <td class="question" colspan="3">
                Description
            </td>
            @foreach (var chimney in Model.Chimneys)
            {
                <td class="answer" colspan="2">

                    @chimney.Make<br />
                    @chimney.Model

                </td>
            }
        </tr>
        <tr>
            <td class="question" colspan="3">
                Fuel Type
            </td>
            @foreach (var chimney in Model.Chimneys)
            {
                <td class="answer" colspan="2">
                    @chimney.Payload.GetValue("E_FuelType")
                </td>
            }
        </tr>
    </table>
</div>