@model DocumentDevelopment.ViewModels.DocumentData

<!DOCTYPE html>
<div>
    <table class="repeater-question-table" cellspacing=0>
        <thead class="section-header">
            <tr>
                <th></th>
                <th style="width:110px">Defects Identified</th>
                <th>Remedial Recommendations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var defect in Model.Defects)
            {
                <tr>
                    <td class="question-prefix repeater">
                        @defect.Order
                    </td>
                    <td class="answer">
                        @defect.Defect
                    </td>
                    <td class="answer">
                        @defect.Recommendation
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>