@model DocumentDevelopment.ViewModels.DataModel

<!DOCTYPE html>
<div class="content-block">
    <table cellspacing=0 class="content-inner">
        <thead>
            <tr>
                <th style="border-radius: 10px 0 0 0; width: 6px;"></th>
                <th style="width: 110px;">Defects Identified</th>
                <th style="border-radius: 0 10px 0 0; width: 120px;">Remedial Recommendations</th>
            </tr>
        </thead>
        @foreach (var defect in Model.Defects)
        {
            <tr>
                <td class="question-prefix repeater">
                    <p>@defect.Order</p>
                </td>
                <td class="answer">
                    <p>@defect.Defect</p>
                </td>
                <td class="answer">
                    <p>@defect.Recommendation</p>
                </td>
            </tr>
        }
    </table>
</div>