@model DocumentDevelopment.ViewModels.DocumentData

<!DOCTYPE html>
<div>
    <div class="section-border">
        <h2 class="section-header no-margin">Defects Identified</h2>
        <table class="question-table" cellspacing=0>
            @foreach (var defect in Model.Defects)
            {
                <tr>
                    <td class="question-prefix repeater">
                        @defect.Order
                    </td>
                    <td class="answer" colspan="19">
                        @defect.Defect
                    </td>
                </tr>
            }
        </table>
    </div>
</div>