@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Discharge Pipework</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="2">
                D1 Installed to MI/BS?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_D1FittedToStandardsResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                D2 Installed to MI/BS?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_D2FittedToStandardsResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Installed and Comissioned to MI/BS?
            </td>
            <td class="answer">
                @*TODO: Answer*@
                Yes
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Manufacturers Warning Label Attached?
            </td>
            <td class="answer">
                @*TODO: Answer*@
                @Model.Answers.GetValue("E_WarningNoticeRequiredResult")
            </td>
        </tr>
    </table>
</div>