@model DocumentDevelopment.ViewModels.DocumentData

<!DOCTYPE html>
<div>
    <h2 class="section-header">Landlord Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question">
                Name
            </td>
            <td class="answer" colspan="3">
                @Model.Landlord.Name
            </td>
        </tr>
        <tr>
            <td class="question">
                Address
            </td>
            <td class="answer" colspan="3">
                @(Model.Landlord.Address.AddressOne + " " + Model.Landlord.Address.AddressTwo + ", " + Model.Landlord.Address.City + " " + Model.Landlord.Address.Postcode)
            </td>
        </tr>
    </table>
</div>