@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Customer Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question">
                Name
            </td>
            <td class="answer" colspan="3">
                @Model.Answers.GetValue("E_PrintName")
            </td>
        </tr>
        <tr>
            <td class="question">
                Address
            </td>
            <td class="answer" colspan="3">
                @(Model.Property.Address.AddressOne + " " + Model.Property.Address.AddressTwo + ", " + Model.Property.Address.City + " " + Model.Property.Address.Postcode)
            </td>
        </tr>
    </table>
</div>