@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>
<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            Servicing & Safety Record Sheet for Solid Fuel Appliances <span class="sub_heading"> (Landlord Safety Certificate)</span>
        </h1>
        <p class="description">
            This record is for safety & servicing purposes only. Ensure flues have been assessed visually and checked for
            satisfactory evacuation of products of combustion, and the appliance is not situated in close proximity to ignitable
            or combustible materials and meets manufacturer requirements. This report is valid for the day of assessment
            only.
        </p>
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("SolidFuel_CompanyDetails"); }

        @{ await Html.RenderPartialAsync("SolidFuel_InstallationDetails"); }

        @{ await Html.RenderPartialAsync("SolidFuel_VisualChecks"); }

        @{ await Html.RenderPartialAsync("Shared_DefectsSectionFull"); }

        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="3" style="border-top-left-radius: 10px;">
                    Warning Notice/Unsafe Situation Procedure Required?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_WarningNoticeRequiredResult")
                </td>
                <td class="question" colspan="3">
                    Customer Aware of Remedial Works Required & Why?
                </td>
                <td class="answer" style="border-top-right-radius: 10px;">
                    @Model.Answers.GetValue("E_CustomerAwareResult")
                </td>
            </tr>
        </table>

        <div class="section-border" style="height: 62px;">
            <h2 class="section-header no-margin">Additional Notes</h2>
            @Model.Answers.GetValue("E_AdditionalNotes")
        </div>
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("SolidFuel_PropertyDetails"); }

        @{ await Html.RenderPartialAsync("SolidFuel_RecommissioningChecks"); }

        @{ await Html.RenderPartialAsync("SolidFuel_WetSystemChecks"); }

        @{ await Html.RenderPartialAsync("Shared_SignOffSection"); }
    </div>
</body>

</html>