@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            TI/133D Domestic Oil Storage Tank Spillage and Fire Risk Assessment
        </h1>
        <p class="description">
            This record is for safety purposes only. This report is vaild for the day of assessment
            only.
        </p>
    </div>

    @{ await Html.RenderPartialAsync("Shared_DetailsSection"); }

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("Oil_EnvironmentHazardPart1"); }

        @{ await Html.RenderPartialAsync("Oil_EnvironmentHazardPart2"); }

        @{ await Html.RenderPartialAsync("Shared_SignOffSection"); }
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("Oil_FireHazard"); }

        @{ await Html.RenderPartialAsync("Shared_DefectsSectionFull"); }
    </div>
</body>

</html>