@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Landlord Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question">
                Landlord Name
            </td>
            <td class="answer" colspan="2">
                @Model.Landlord.Name
            </td>
        </tr>
        <tr>
            <td class="question">
                Address
            </td>
            <td class="answer" colspan="2" style="height: 45px;">

                @(Model.Landlord.Address.AddressOne + " " + Model.Landlord.Address.AddressTwo)<br />
                @(Model.Landlord.Address.City + " " + Model.Landlord.Address.Postcode)

            </td>
        </tr>
    </table>
</div>