:root {
	--main-colour: #1D5385;
	--alt-colour: #2569B2;

	/* --main-colour: #F06400;
	--alt-colour: #FF9142; */

	--text-colour: white;
	--alt-text-colour: #2D2D2D;
	--border-colour: #C4C4C4;
	--section-colour: #DEDEDE;
	--alt-section-colour: #5A5A5A;

	--border: 1px solid var(--border-colour);
	--border-radius: 10px;
}

html * {
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.footer {
	page-break-after: always;
	position: relative;
}

.footer-page-number {
	font-size: 11px;
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: bold;
}

.main-content {
	padding: 20px;
}

.title {
	font-size: 18px;
	color: var(--main-colour);
	margin-bottom: 0;
}

.sub-title {
	font-size: 13px;
	padding-bottom: 5px;
	color: var(--main-colour);
}

.answer-list {
	padding-left: 15px;
	margin: 0;
}

.statement-list {
	counter-reset: list;
	margin-left: 30px;
	font-size: 13px;
}

.statement-list > li {
	list-style: none;
	position: relative;
	padding-bottom: 15px;
}

.statement-list > li:before {
	content: "(" counter(list, lower-roman) ") ";
	counter-increment: list;
	position: absolute;
	left: -35px;
}

.section-header {
	width: 100%;
	padding: 4px 0 4px 0;
	margin: 5px 0 0 0;
	background-color: var(--main-colour);
	border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.section-title {
	color: var(--text-colour);
	font-size: 12px;
	padding-left: 10px;
	margin: 0;
}

.section-title > span {
	font-size: 11px;
	font-weight: lighter;
}

.section {
	display: inline-block;
	vertical-align: top;
	width: 98.4%;
}

.sub-section {
	padding: 4px 0 4px 0;
	margin: 5px 0 0 0;
	background-color: var(--main-colour);
}

.sub-section-alt {
	padding: 4px 0 4px 0;
	margin: 5px 0 0 0;
	background-color: var(--alt-section-colour);
}

.question-table {
	width: 100%;
	table-layout: fixed;
	font-size: 10px;
	margin: 0;
	overflow-wrap: break-word;
}

.sub-question-table {
	width: 100%;
	clear: both;
}

.question {
	text-align: left;
	background-color: var(--alt-colour);
	color: var(--text-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
}

.question-strong {
	text-align: center;
	background-color: var(--main-colour);
	font-weight: bold;
	color: var(--text-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
}

.question-alt {
	text-align: left;
	background-color: var(--section-colour);
	color: var(--main-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
}

.question-alt-strong {
	text-align: center;
	background-color: var(--alt-section-colour);
	font-weight: bold;
	color: var(--text-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
}

.question-additional {
	font-size: 8px;
}

.sub-question {
	text-align: left;
	color: var(--main-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
	vertical-align: top;
}

.answer {
	text-align: left;
	color: var(--alt-text-colour);
	border: var(--border);
	padding: 2px 1px 5px 10px;
	vertical-align: top;
}

.border-bottom-left {
	border-bottom-left-radius: var(--border-radius);
}

.outcome-section {
	font-size: 8px;
	text-align: center;
	color: var(--main-colour);
	border: var(--border);
}

.outcome-section-alt {
	font-size: 8px;
	background-color: var(--section-colour);
	text-align: center;
	color: var(--main-colour);
	border: var(--border);
}

.units {
	float: right;
	margin-right: 5px;
	color: var(--main-colour);
}

.center-text {
	text-align: center;
}

.vertical-text {
	writing-mode: vertical-lr;
	text-orientation: sideways;
}

.input-cell {
	border-bottom: var(--border);
	color: var(--alt-text-colour);
}

.sub {
	padding-top: 10px;
	font-size: 9px;
}

.checkbox {
	position: relative;
}

.checkbox label {
	border: 1px solid var(--alt-colour);
	border-radius: 25%;
	cursor: pointer;
	height: 14px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 14px;
}

.checkbox label:after {
	border: 2px solid var(--alt-text-colour);
	border-top: none;
	border-right: none;
	content: "";
	height: 3px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 3px;
	transform: rotate(-45deg);
	width: 6px;
}

.checkbox input[type="checkbox"] {
	visibility: hidden;
}

.checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.bounding-box {
	border: 1px solid var(--main-colour);
	padding: 10px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: var(--border-radius);
}

tr:last-child td:last-child {
	border-bottom-right-radius: var(--border-radius);
}

th:first-child {
	border-top-left-radius: var(--border-radius);
}

th:last-child {
	border-top-right-radius: var(--border-radius);
}

.logo {
	float: right;
	border: none;
	outline: none;
	height: 60px;
	opacity: 1;
	width: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
