@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Appliance Details</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question">
                DHW Cylinder Manufacturer
            </td>
            <td class="answer" colspan="3">
                @Model.Appliance.Payload.GetValue("E_DHWCylinderManufacturer")
            </td>
        </tr>
        <tr>
            <td class="question">
                Make
            </td>
            <td class="answer">
                @Model.Appliance.Make
            </td>
            <td class="question">
                Model
            </td>
            <td class="answer">
                @Model.Appliance.Model
            </td>
        </tr>
    </table>
</div>